<h1>Add your Motorcycle</h1>

<form action="/motorcycles" method="POST">
  <label> Motorcycle brand: </label>
  <input type="text" name="name"> </br>


  <input type="submit" value="Create a new motorcycle">
</form>
