<h1><%= @motorcycle.name %></h1>


<% @motorcycle.destinations.each do |destination| %>
<li>
<a href= "/destinations/<%= destination.id %>"><%= destination.name %></a>
<% end %>
</br>
</br>
</br>
<a href ="/destinations/new"> New Destination </a>
</li>
