<h1>Your previous destinations:</h1>
The distance is set to miles!
</br>
</br>

<% @destinations.each do |destination| %>
<li>
<%= destination.name %> </br>
<%= destination.distance %> </br>
<a href="/destinations/<%=destination.id%>/edit"> Change info </a>
<a href ="/destinations/<%= destination.id %>/delete" class=>!Delete! </a>
</br>

<% end %>
</br>
</li>
<a href="/" class="btn"> Go back </a>
<a href="/destinations/new" class="btn">Plot a new destination </a>
