<h1>Your previous destinations:</h1>

<% @destinations.each do |desination| %>
<li>
<%= destination.name %> </br>
<%= desination.distance %> </br>
<a href="/destinations/<%=desination.id%>/edit"> Change info </a>

<% end %>
</li>
<a href="/" class="btn"> Go back </a>
<a href="/destinations/new" class="btn">Plot a new destination </a>
