<h1> Lets edit, <%= @destination.name %>
</br>
</br>

  <form action='/destinations/<%=@destination.id%>' method="POST">
    <input id="hidden" type="hidden" name="_method" value="PATCH">
    <label>Destination:</label>
      <input type="text" name="name"> </br>
      <label> Distance</label>
      <input type="text" name="distance">
    </br>
      <input type="submit" class="btn" value="Edit destination">
    </form>
