<h1> Lets edit <%= @destination.name %>

  <form action='/destinations/<%=@desination.id%>' method="POST">
    <input id="hidden" type="hidden" name="_method" value="PATCH">
    <label>Destination:</label>
      <input type="text" name="name"> </br>
      <input type="text" name="distance"
      <input type="submit" value="Edit destination">
    </form>
