<h1>Add your destination</h1>

<form action="/destinations" method="POST">
  <label> Destination: </label>
  <input type="text" name="name"> </br>
  <label> Distance: </label>
  <input type="text" name="distance"> </br>

  <input type="submit" value="Create a new destination" class="btn">
</form>
