<h1> Welcome Riders!</h1>

<center><p> If this is your first visit, please sign up! </p></center>

<center><a href = "/signup" class= "btn">Sign up</a></center></br>
</br>
</br>
</br>
</br>
<strong>Always wear a helmet when you ride! A ounce of prevention is worth a pound of cure!</strong>
</br>
</br>
</br>
</br>
<center> PLease log in to view or edit your rides!</center></br>
<center><a href = "/login" class= "btn">Log In</a></center>