<h1> Please Log in!</h1>


<form action='/login' method='POST'>
<center><label>User name:</label>
<input type="text" name="name"></br>
<label>Password:</label>
<input type="password" name="password"></br>
</br>

<input type="submit" class="btn" value="Log in!"></center>
</form>
</br>
</br>
<center><a href = "/signup" class= "btn">Sign up! </a></center>
