<h1> Here are your motorcycles, <%= @rider.name %></h1>
</br>


<% @rider.motorcycles.each do |motorcycle| %>
<li> <a href ="/motorcycles/<%= motorcycle.id %>"><%= motorcycle.name %></a>
</li>
<% end %>
