<h1> Create a new account!</h1>


<form action='/signup' method='POST'>
<label>User name:</label>
<input type="text" name="name"></br>
<label>Password:</label>
<input type="password" name="password"></br>

<input type="submit" value="Create a new account!">
</form>


